@import "tailwindcss";

:root {
  --primary-color: #f5a97f;
  --border-radius: 10px;
  --dark-bg-color: #24273a;
  --light-bg-color: #eff1f5;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-vsk: var(--border-radius);
  --radius-window: calc(var(--border-radius) + 16px);
  --color-vsk-primary: var(--primary-color);
  --color-dark: var(--dark-bg-color);
  --color-light: var(--light-bg-color);
}

::view-transition-old(root) {
  animation-delay: 500ms;
}

::view-transition-new(root) {
  animation: circle-in 500ms;
}

body * {
  @apply text-gray-900 dark:text-gray-100 transition-colors duration-300;
}

.background {
  @apply bg-light/80 dark:bg-dark/80;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
